<h2>List</h2>

In [29]:
first_list = [ 1, 2, 5, 4, 3, 6, 6, 6] #list allows duplicates and list are mutable

In [30]:
type(first_list)

list

In [31]:
print(first_list)

[1, 2, 5, 4, 3, 6, 6, 6]

In [32]:
len(first_list) # displays number of values in the list

8

In [33]:
first_list[0] #getting first element using index

1

In [34]:
first_list[-2] #will return the second last element of the list as -ve index will start from back of the list and starts from -1

6

In [35]:
first_list.insert(5, "Hi") #insert adds the specified value at the given index 
# here Hi is added at 5th index

In [36]:
first_list

[1, 2, 5, 4, 3, 'Hi', 6, 6, 6]

In [37]:
first_list.append("lol") # it adds the value at the last of the list

In [38]:
first_list

[1, 2, 5, 4, 3, 'Hi', 6, 6, 6, 'lol']

In [39]:
v = ['Hi', 'Hello', 'by']

In [40]:
first_list.extend(v) # adds all elements of list v in first_list at last

In [41]:
first_list

[1, 2, 5, 4, 3, 'Hi', 6, 6, 6, 'lol', 'Hi', 'Hello', 'by']

In [42]:
first_list.remove(6) #removes the specified value at its first occurance

In [43]:
first_list

[1, 2, 5, 4, 3, 'Hi', 6, 6, 'lol', 'Hi', 'Hello', 'by']

In [44]:
first_list.pop(2) #removes the element at specific index and returns the element as argument

5

In [46]:
first_list #5 was at 2nd index that is why 5 is removed

[1, 2, 4, 3, 'Hi', 6, 6, 'lol', 'Hi', 'Hello', 'by']

In [47]:
del first_list[5] #del key word delets/removes items at the given index

In [49]:
first_list # 6 at 5th index has been deleted

[1, 2, 4, 3, 'Hi', 6, 'lol', 'Hi', 'Hello', 'by']

In [50]:
v.clear() #emptys the list

In [51]:
v

[]

list comprihansion

In [52]:
first_list

[1, 2, 4, 3, 'Hi', 6, 'lol', 'Hi', 'Hello', 'by']

In [74]:
c = []

In [72]:
c = [x for x in first_list]

In [73]:
c

[1, 2, 4, 3, 'Hi', 6, 'lol', 'Hi', 'Hello', 'by']

In [77]:
c = [ x if x != 6 else 5 for x in first_list] #to write if else condijtion the condition has to be written 
#first but for loop will be executed first then the condition will be checked if we write for loop after the 
#condition it will give us error

In [78]:
c

[1, 2, 4, 3, 'Hi', 5, 'lol', 'Hi', 'Hello', 'by']

In [122]:
a = [10, 20, 4, 3, 10, 5, 1]

In [113]:
a.sort() # this will sort the list in asscending order

In [114]:
a

[1, 3, 4, 5, 10, 10, 20]

In [115]:
a.sort(reverse=True) # to sort list in decending order the inner parameter reverse of method sort should be true

In [116]:
a

[20, 10, 10, 5, 4, 3, 1]

In [123]:
def myfun(n):
    return abs(n - 5) # abs give absolute/+ve value in this function n is the numbers in a
a.sort(key=myfun) # it will sort the list based on how close the values are to 5

In [124]:
a

[5, 4, 3, 1, 10, 10, 20]

In [119]:
# sort can only be used on lists with elements of same datatype

In [96]:
a.append(first_list) # append appents the whole list at the end of the list

In [97]:
a

[5, 4, 3, 1, 10, 10, 20, [1, 2, 4, 3, 'Hi', 6, 'lol', 'Hi', 'Hello', 'by']]

In [120]:
a.extend(first_list) # extend adds the elements of the list at the end of the list

In [121]:
a

[5, 4, 3, 1, 10, 10, 20, 1, 2, 4, 3, 'Hi', 6, 'lol', 'Hi', 'Hello', 'by']

In [125]:
b = a + first_list # + concatinates both lists

In [126]:
b

[5, 4, 3, 1, 10, 10, 20, 1, 2, 4, 3, 'Hi', 6, 'lol', 'Hi', 'Hello', 'by']

<h2>Tuple</h2>
 
* Tuples are similar to list but instead of square brackets it uses round brackets
* Lists are mutable but tuples are immutable
* rest of the properties of list and tuple are the same

In [148]:
tpl = (5, 4, 3, 10, 2, 1, 9, 100)

In [149]:
type(tpl)

tuple

In [150]:
len(tpl)

8

In [151]:
tp = ("apple") # this is not recoginised as tuple with 1 element

In [152]:
type(tp)

str

In [174]:
tp1 = ('apple',) #after adding coma at the end it is considered tuple

In [154]:
type(tp1)

tuple

In [155]:
tpl[1]

4

In [156]:
tpl[-1]

100

In [157]:
tpl[5:7]

(1, 9)

In [158]:
#you can change the value of tuple by converting it to list and then changing the value and
#we can add values of one tuple to other

In [159]:
y = list(tpl)
y.remove(100)
tpl = tuple(y)

In [160]:
tpl

(5, 4, 3, 10, 2, 1, 9)

In [161]:
tpl += tp1 #adding one tuple to another

In [162]:
tpl

(5, 4, 3, 10, 2, 1, 9, 'apple')

In [163]:
#del key word can delete tuple completely

In [164]:
del tp1

In [165]:
tp1 #because tuple is completely deleted

NameError: name 'tp1' is not defined

In [166]:
#tuple unpacking

In [168]:
(n, m, h) = tpl #the number to be stored are greater then the variable
#there fore we can add * in front of one of the variable and the rest of the variables
#will be stored in that variabel as a list

ValueError: too many values to unpack (expected 3)

In [169]:
(n, *m, h) = tpl #excess values will be stored in m as a list

In [170]:
n

5

In [171]:
m

[4, 3, 10, 2, 1, 9]

In [172]:
h

'apple'

In [173]:
tpl

(5, 4, 3, 10, 2, 1, 9, 'apple')

In [177]:
tp1

('apple',)

In [178]:
#tuple concatination

In [179]:
t = tp1 + tpl

In [180]:
t

('apple', 5, 4, 3, 10, 2, 1, 9, 'apple')

In [183]:
double_tpl = tpl*2 #it returns tuple values twice but the values share same memory address

In [184]:
double_tpl

(5, 4, 3, 10, 2, 1, 9, 'apple', 5, 4, 3, 10, 2, 1, 9, 'apple')